div{
    height: 200px;
    width: 500px;
    background-color: lightblue;
    /* border-width: 5px;
    border-style: solid;
    border-color: blue; */
    border: 5px solid blue;
    border-left-color: blue;
    border-left-style: dashed;
    border-top-right-radius: 50px;
    margin-bottom: 25px;
    margin-left: 20px;
}
h1{
    /* border-width: 2px;
    border-style: dashed;
    border-color: green; */
    border: 2px dashed green;
}
button{
    /* border-width: 3px;
    border-style: dotted;
    border-color: red; */
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
}