*{
    font-family: "Courier New";
    
}
h1{
   color:#1b74e4;

}

#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: #008000;
    color:  aliceblue;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
}